<h1>Listado de libro</h1>
<hr />
<p>
    
    <%= link_to "CSV", books_path(format: "csv") %>
    <%= link_to "Excel", books_path(format: "xls") %>
</p>
<table>
    <tr>
        <th>titulo</th>
        <th>autor</th>
        <th>editorial</th>
        <th>genero</th>
    </tr>
    <% @books.each do |book|%>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.publisher %></td>
            <td><%= book.genre %></td>
        </tr>
    <% end %>
</table>

